*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    cursor: pointer;
}
input:focus
{
    outline: none;
}
body{
    font-family: 'Goblin One', cursive;
    background-color: #1f262f;
    
}
.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row
{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;

}
[class*="col-"]
{
    padding-left: 15px;
    padding-right: 15px;
}
header{
    height: 120px;
    background: #0F1C75;
    position: fixed;
    width: 100%;
}
.scroll-btn{
    position:fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
}

.main-menu{
    display: flex;
    justify-content: space-between;
}
.main-menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #909090;
    font-size: 14px;
    font-weight: 700;
    line-height: 120px;
    padding: 10px 5px;
}
.main-menu a:hover{
    color: azure;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-radius: 4px;
}
.logo{
    margin-top: 3px;
}
.board-img{
    width: 70%;
    border: 3px solid #666565;
}
.cotainer-board{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.logo-img{
    width: 70%;
    text-align: center;
    vertical-align: middle;
}
main{
    background-color: #4b4b4b;
}
.smart-contract{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.title{
    color: #0F1C75;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
}
.copy-btn{
    height: 80px;
    width: 250px;
    background-color: transparent;
    border: #0F1C75 solid 2px;
    font-size: 50px;
    font-weight: 600;
    color: #0F1C75;
}
.copy-btn:hover{
    background-color: #909090;
    margin-top: -10px;
}
.board-img{
    margin-top: 100px;
}
.token-line{
    color: silver;
    font-size: 20px;
    
}
.token-item{
    border: #1f1f1f solid 3px;
    padding: 25px 15px;
    text-align: center;
}
.contact-item:hover{
    border: solid 3px #909090;
    border-radius:50% ;
    background-color: #909090;
    box-sizing: border-box;
}
.token:hover{

    margin-top: -10px;
}
.token-item:hover{
    background-color: #666565;
}
.darkside{
    height: 300px;
    display: flex;
    align-items: center;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}
.hashtag-block{
    border-top: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    padding: 30px 0;
}
.hashtags{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hashtag-scroller{
    overflow:hidden;
}
.hash-items{
    font-size: 22px;
    color: silver;
    font-weight: 600;
    height: 100%;
    white-space:nowrap;
    display:inline;
    width:auto;
}
.properties{
    display: flex;
    align-items:stretch;
}
.prop-item{
    padding: 25px 15px;
    margin-top: 20px;
    border: #1f1f1f solid 1px;
    height: 1000px;
}
.prop-item img{
    width: 100%;
}
.prop-title{
    font-weight: 900;
    font-size: 36px;
    color: #0F1C75;
    text-align: center;
}
.prop-description{
    padding: 20px 0px;
    color: #ffff;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}
.giveaway-img{
    width: 100%;
}
.giveaway-info-title{
    font-size: 30px;
    color: #ffff;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}
.giveaway-info{
    font-size: 25px;
    color: #ffff;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}
.dex-guru{
    width: 100%;
    height: 1000px;
}
footer{
    height: 150px;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p{
    text-align: center;
    color: silver;
    font-weight: 500;
    font-size: 16px;

}
/* XS */
@media(max-width:576px)
{
    .col-xs-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xs-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xs-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-xs-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xs-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xs-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xs-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-xs-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-xs-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xs-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xs-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-xs-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container
    {
        max-width: auto;
        width: auto;
    }
    .header-menu
    {
        display: none;
    }
    .slider
    {
        display: none;
    }
    .author-contacts
    {
        display: none;
    }
    .continue-btn
    {
        padding: 5px 10px;
        font-size: 12px;

    }
    .two-post

    {
        display: flex;
        flex-wrap: wrap;
    }
} 

@media(min-width:576px)  
{
    .col-sm-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-sm-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-sm-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-sm-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container
    {
        max-width: 540px;
        width: 540px;
    }

    .two-post
    {
        display: flex;
        flex-wrap: wrap;
    }
} 
/* MD */
@media(min-width:768px)
{
    .container
    {
        max-width: 720px;
        width: 720px;
    }
    .col-md-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-md-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-md-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-md-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }   


    
}  
/* LG */
@media(min-width:992px)
{

    .container
    {
        max-width: 960px;
        width: 960px;
    }
    .col-lg-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-lg-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-lg-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-lg-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }  

}
/* XL */
@media(min-width:1200px)
{
    .container
    {
        max-width: 1140px;
        width: 1140px;
    }
    .col-xl-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xl-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xl-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-xl-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xl-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xl-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-xl-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667;
    }
    .col-xl-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xl-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-xl-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    
}    